<footer>
  <section class="contact">
    <p>Ein studentisches Projekt, entstanden im Sommersemester 2017 an der Fachhochschule Potsdam</p>
    <p>Rückfragen und Kontakt: i.u.b [at] web.de</p>
  </section>
  <section class="license">
    <p>Inhalte und Abbildungen verfügbar als <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/de/" target="_blank">CC-BY-NC-SA</a></p>
    <p><a href="https://github.com/imueberflutetenberlin/imueberflutetenberlin.github.io" target="_blank">Quellcode</a> dieser Website verfügbar unter der <a href="https://github.com/imueberflutetenberlin/imueberflutetenberlin.github.io/blob/master/LICENSE" target="_blank">MIT Lizenz</a></p>
  </section>
</footer>
