<main class="home-container">
  <section class="container">

    <section class="row">
      <section class="twelve columns home">
        <img class="attention-icon-home" src="{{site.baseurl}}/img/attention_icon.svg" alt="Oranges Warndreiceck">
        <h1><span>Im überfluteten Berlin</span></h1>
        <h3><span>Eine Fiktion auf Meeresspiegelhöhe</span></h3>
        <article class="excerpt-container">
          <p>Der durch den Klimawandel verursachte Meeresspiegelanstieg gefährdet Städte, Regionen und ganze Länder in aller Welt. Deutschland ist kaum, seine Hauptstadt Berlin gar nicht betroffen. Doch was wäre, wenn Berlin auf einmal in eine gefährdete Küstenregion auf Meeresspiegelniveau transferiert würde? In verschiedenen Szenarien weist diese interaktive Karte auf die enge Verbindung von Naturereignissen und dem Funktionieren von Gesellschaften hin. Fiktional in Berlin, real in anderen Teilen der Welt.</p>
          <aside class="map-disclaimer">
            <p>Hinweis: Beim Öffnen der Karte werden große Datenmengen geladen. Die Anwendung kann auf kleineren Screens möglicherweise fehlerhaft dargestellt werden.</p>
          </aside>
        </article>
        {% include nav-buttons.html navclass='nav-info' %}
      </section>
    </section>

  </section>
</main>
