.opacity-control {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  width: 14rem - .2rem*2;
  padding: 0 .2rem;
  margin: 0;
  background-color: white;
  box-shadow: $boxShadow;
  z-index: 3;

  input[type="range"] {
    -webkit-appearance: none !important;
    width: 100%;
    height: .2rem;
    padding: 0;
    margin: 0 0 $marginBottom;
    background: $primaryGradient;
    background-color: $primaryColor;
    transition: all 0.3s ease
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: .4rem;
    height: 2.2rem;
    background-color: $primaryColor;
  }

  .opacity-slider {
    transform: translateY(3.5px);
  }
}
