h1, h2, h3, h4, h5, h6 {
  font-family: $fontFamily;
  margin-top: 0;
  margin-bottom: $marginBottom;
  color: $primaryColor;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1; }

h1 { font-size: 4.0rem; font-style: italic; }
h2 { font-size: 2.2rem; font-style: italic; }
h3 { font-size: 2.0rem; font-weight: 400; }
h4 { font-size: 1.6rem;}

/* Larger than 750px */
@media (min-width: 750px) {
  h1 { font-size: 6.4rem; }
  h2 { font-size: 2.2rem; }
  h3 { font-size: 2.2rem; }
  h4 { font-size: 1.6rem; }
}

/* Paragraphs */
p {
  margin-top: 0;
  margin-bottom: $marginBottom;}

/* Links */
a {
  text-decoration: none;
  color: inherit; }
a:hover {
  color: inherit; }

.button-primary a {
  color: white;
}
